
	<div id="banner-wrapper">
		<div id="banner">
			<img src="/images/galant-highway-banner.jpg">
		</div>
	</div>


	<div id="sticky-order-info-wrapper" class="container">
		<div id="order-info-header">
			
		</div>
		<div id="order-detail-wrapper">
			<div class="row">
				<div class="col-xs-7">
					<h3>Base Mat Option</h3>
				</div>
				<div class="option">
					<h3>Option 1</h3>
				</div>
				<div class="option">
					<h3>Option 2</h3>
				</div>
				<div class="option">
					<h3>Custom Option</h3>
				</div>
				<div id="total" class="option">
					<h3>Total</h3>
				</div>
			</div>									
		</div>
	</div>