
	<div id="banner-wrapper">
		<div id="banner">
			<img src="/images/galant-highway-banner.jpg">
		</div>
	</div>


<div id="content-body" class="center-wrapper">
	<div id="options-wrapper">
		<div class="select-wrapper">
			<div class="heading-title">
				<h1> options-wrapper  Select Your Custom Floormats</h1>
			</div>
			<div class="select-title">
				<h2>1. Select Mats</h2>
			</div>
			<div id="select-mats-body" class="select-inner">
				<div class="mat-body-box">
					<div id="select-mats-img1">
						<img src="/images/4mats.jpeg" alt="4 Mat Option">
					</div>
					<label><input type="checkbox" name="4mats" value="4 pc">4 Pc Mat Set</label>
					<div class="mat-set-price">
						<!-- Angular Price Here --><h1>$125</h1>
					</div>
				</div>
				<div class="mat-body-box">
					<div id="select-mats-img2">
						<img src="/images/2mats.jpeg" alt="2 Mat Option">
					</div>
					<label><input type="checkbox" name="2mats" value="2 pc">2 Pc Mat Set</label>
					<div class="mat-set-price">
					<!-- Angular Price Here --><h1>$80</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="options-wrapper-carpet">
		<div class="select-wrapper">
			<div class="heading-title">
				<h1> options-wrapper  Select Your Carpet Color</h1>
			</div>
			<div class="select-title">
				<h2>2. Select Color</h2>
			</div>
			<div id="select-carpet-color" class="select-inner">
				<div class="">
					<div id="carpet-colors">
						<img src="/images/Carpet_Colors.jpg" alt="Carpet Color Options">
					</div>
					<label><input type="checkbox" name="4mats" value="4 pc">{{color}}</label>
				</div>
			</div>
		</div>
	</div>
	<div id="options-wrapper-style">
		<div class="select-wrapper">
			<div class="heading-title">
				<h1> options-wrapper  Select Your Embroidery Style</h1>
			</div>
			<div class="select-title">
				<h2>3. Select Style</h2>
			</div>
			<div id="select-embroidery-style" class="select-inner">
				<div class="">
					<div id="embroidery-style">
						<img src="/images/DC-Logo.png" alt="Embroidery Style">
					</div>
					<label><input type="checkbox" name="embroidery style" value="{{style}}">{{style}}</label>
				</div>
			</div>
		</div>
	</div>


	<div id="options-wrapper-embroidery-color">
		<div class="select-wrapper">
			<div class="heading-title">
				<h1> options-wrapper  Select Your Embroidery Color</h1>
			</div>
			<div class="select-title">
				<h2>4. Select Embroidery Color</h2>
			</div>
			<div id="select-embroidery-color" class="select-inner">
				<div class="">
					<div id="embroidery-color">
						<img src="/images/Embroidery_Colors.jpg" alt="Embroidery Colors">
					</div>
					<label><input type="checkbox" name="thread color" value="{{color}}">{{color}}</label>
				</div>
			</div>
		</div>
	</div>


	<div id="options-wrapper-car-number">
		<div class="select-wrapper">
			<div class="heading-title">
				<h1> options-wrapper  Car Number for Rear Mats</h1>
			</div>
			<form action="" method="post" accept-charset="utf-8">
				<input type="text" name="car number" value="" placeholder="100/1000">
			</form>
			<div class="select-title">
				<h2>4. Select Embroidery Color</h2>
			</div>
			<div id="select-embroidery-color" class="select-inner">
				<div class="">
					<div id="embroidery-color">
						<img src="/images/Embroidery_Colors.jpg" alt="Embroidery Colors">
					</div>
					<label><input type="checkbox" name="thread color" value="{{color}}">{{color}}</label>
				</div>
			</div>
		</div>
	</div>


</div>








<div id="sticky-order-info-wrapper" class="container">
	<div id="order-info-header"></div>
	<div id="order-detail-wrapper" class="unstuck">
		<div class="row">
			<div class="col-xs-7">
				<h3>Base Mat Option</h3>
			</div>
			<div class="option">
				<h3>Option 1</h3>
			</div>
			<div class="option">
				<h3>Option 2</h3>
			</div>
			<div class="option">
				<h3>Custom Option</h3>
			</div>
			<div id="total" class="option">
				<h3>Total</h3>
			</div>
		</div>									
	</div>
</div>


<script type="text/javascript">
	function moveScroller() {
		var move = function() {
			var st = $(window).scrollTop();
			var ot = $("#order-info-header").offset().top;
			var s = $("#order-detail-wrapper");
			if(st > ot) {
				s.css({
					position: "fixed",
					top: "0px"
				});
			} else {
				if(st <= ot) {
					s.css({
						position: "relative",
						top: ""
					});
				}
			}
		};
		$(window).scroll(move);
		move();
	}
</script>









<!-- <div id="sprite">
	
</div> -->



















