
<div id="banner-wrapper">
	<div id="banner">
		<img src="/images/galant-highway-banner.jpg">
	</div>
</div>

<% include delivery.html %>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <form action="/payment" method="POST" id="order-button">
			<script
				src="https://checkout.stripe.com/checkout.js" class="stripe-button"
				data-key="pk_test_Ek4iAnVtZLKBd1aApY3rd6po"
				data-amount=""
				data-name="TurboFloormats.com"
				data-description="VR4 Floormat Set"
				data-locale="auto">
			</script>
				<!-- data-image="/128x128.png" -->
		</form>	
      </div>


<div id="content-body" class="center-wrapper">
	<div id="options-wrapper">
		<div class="select-wrapper">
			<div class="heading-title">
				<h1>Select Your Custom Floormats</h1>
			</div>
			<div class="select-title">
				<h3>1. Select Mats</h3>
			</div>
			<div id="select-mats-body" class="select-inner">
				<div class="mat-body-box">
					<div id="select-mats-img1">
						<img src="/images/4mats.jpeg" alt="4 Mat Option">
					</div>
					<label><input ng-model="matFour" ng-change="matFour ? selectMat(4) : selectMat(0)" type="checkbox" name="4mats" value="4 pc">4 Pc Mat Set</label>
					<div class="mat-set-price">
						<!-- Angular Price Here --><h1>${{price4}}</h1>
					</div>
				</div>
				<div class="mat-body-box">
					<div id="select-mats-img2">
						<img src="/images/2mats.jpeg" alt="2 Mat Option">
					</div>
					<label><input ng-model="matTwo" ng-change="matTwo ? selectMat(2) : selectMat(0)" type="checkbox" name="2mats" value="2 pc">2 Pc Mat Set</label>
					<div class="mat-set-price">
					<!-- Angular Price Here --><h1>${{price2}}</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="options-wrapper-carpet">
		<div class="select-wrapper">
			<div class="heading-title">
				<h1>Select Your Carpet Color</h1>
			</div>
			<div class="select-title">
				<h3>2. Select Color</h3>
			</div>
			<div id="select-carpet-color" class="select-inner">
				<div class="">
					<ul class="sprite-list">
						<li class="carpet-sprite" ng-click="setColor('green'); setActive()" id="carpet-sprite-hgreen"></li>
						<li class="carpet-sprite" ng-click="setColor('navy blue')" id="carpet-sprite-nblue"></li>
						<li class="carpet-sprite" ng-click="setColor('burgundy')" id="carpet-sprite-burg"></li>
						<li class="carpet-sprite" ng-click="setColor('red')" id="carpet-sprite-red"></li>
						<li class="carpet-sprite" ng-click="setColor('royal blue')" id="carpet-sprite-rblue"></li>
						<li class="carpet-sprite" ng-click="setColor('purple')" id="carpet-sprite-purp"></li>
						<li class="carpet-sprite" ng-click="setColor('teak')" id="carpet-sprite-teak"></li>
						<li class="carpet-sprite" ng-click="setColor('beige')" id="carpet-sprite-beige"></li>
						<li class="carpet-sprite" ng-click="setColor('gray')" id="carpet-sprite-greyBerber"></li>
						<li class="carpet-sprite" ng-click="setColor('beige')" id="carpet-sprite-beigeBerber"></li>
						<li class="carpet-sprite" ng-click="setColor('kelly green')" id="carpet-sprite-kgreen"></li>
						<li class="carpet-sprite" ng-click="setColor('orange')" id="carpet-sprite-orange"></li>
						<li class="carpet-sprite" ng-click="setColor('medium gray')" id="carpet-sprite-medGray"></li>
						<li class="carpet-sprite" ng-click="setColor('darkgray')" id="carpet-sprite-dkGray"></li>
						<li class="carpet-sprite" ng-click="setColor('cream')" id="carpet-sprite-cream"></li>
						<li class="carpet-sprite" ng-click="setColor('black')" id="carpet-sprite-black"></li>
						<li class="carpet-sprite" ng-click="setColor('brown')" id="carpet-sprite-brown"></li>
						<li class="carpet-sprite" ng-click="setColor('mocha')" id="carpet-sprite-mocha"></li>
					</ul>
					<div >
	
					</div>
					<div id="carpet-colors">
						<!-- <img id="carpet-color-chart" class="option-image" src="/images/Carpet_Colors.jpg" alt="Carpet Color Options"> -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="options-wrapper-style">
		<div class="select-wrapper">
			<div class="heading-title">
				<h1>Select Your Embroidery Style</h1>
			</div>
			<div class="select-title">
				<h3>3. Select Style</h3>
			</div>
			<div id="select-embroidery-style" class="select-inner">
				<div class="">
					<div id="embroidery-style">
						<img ng-click="setStyle('Galant #1')" class="option-image" src="/images/GalantMat_1.jpg" alt="Embroidery Style">
						<img ng-click="setStyle('Galant #2')" class="option-image" src="/images/GalantMat_2 copy.jpg" alt="Embroidery Style">
						<img ng-click="setStyle('Galant #3')" class="option-image" src="/images/GalantMat_3.jpg" alt="Embroidery Style">
						<img ng-click="setStyle('Galant #4')" class="option-image" src="/images/GalantMat_4.jpg" alt="Embroidery Style">
					</div>
				</div>
			</div>
		</div>
	</div>

	


	<div id="options-wrapper-car-number">
		<div class="select-wrapper">
			<div class="heading-title">
				<h1>Car Number for Rear Mats</h1>
			</div>
			<form ng-submit="addCarNumber()" action="" method="" accept-charset="utf-8" class="select-inner">
				<div id="car-number-title"><h3>Enter your car number here</h3></div>
				<input type="text" name="car number" value="" placeholder="100/1000" ng-model="carNumber" id="car-number-input" />
				<label><input type="checkbox" name="rear-mat-number" ng-model="carNumberNone" value="" />None</label>
				<input type="submit" value="add" />
			</form>	
		</div>
	</div>

	



	<div id="options-wrapper-embroidery-color">
		<div class="select-wrapper">
			<div class="heading-title">
				<h1>Select Your Embroidery Color</h1>
			</div>
			<div class="select-title">
				<div>
					<div id="button-box">

						<!-- example for buttons
						<ul ng-init="selectedTab = 'users'">
						   <li ng-class="{'active':selectedTab === 'users'}" ng-click="selectedTab = 'users'"><a href="#users" >Users</a></li>
						   <li ng-class="{'active':selectedTab === 'items'}" ng-click="selectedTab = 'items'"><a href="#items" >Items</a></li>
						</ul> -->

						<form>
							<label id="embroidery-title"><h3>4. Select Embroidery Color for each:</h3></label>
							<div id="embroidery-buttons">
							<label id="galant-button" class="thread-label"><input type="radio" name="thread" ng-model="thread" class="thread-button" value="galant" id="galant"> Galant</label>

							<label id="vr4-button" class="thread-label"><input type="radio" name="thread" ng-model="thread" class="thread-button" value="background" id="Background"> VR4 Background</label>

							<label id="vr4-text-button" class="thread-label"><input type="radio" name="thread" ng-model="thread" class="thread-button" value="vr4" id="VR4"> VR4 Text</label>

							<label id="car-number-button" class="thread-label"><input type="radio" name="thread" ng-model="thread" class="thread-button" value="carNumber" id="carNumber"> Car Number Color</label>
							</div>
						</form>						
					</div>
				</div>
			</div>
			<div id="embroidery-error-message">
				{{messageThreadColor}}
			</div>
			<div id="select-embroidery-color" class="select-inner">
				<div class="">
					<ul class="sprite-list-thread">
						<li class="sprite-image" ng-click="setThreadColor('Beige')" id="thread-sprite-beige"></li>
						<li class="sprite-image" ng-click="setThreadColor('Black')" id="thread-sprite-black"></li>
						<li class="sprite-image" ng-click="setThreadColor('Light Brown')" id="thread-sprite-ltBrown"></li>
						<li class="sprite-image" ng-click="setThreadColor('Khaki')" id="thread-sprite-khaki"></li>
						<li class="sprite-image" ng-click="setThreadColor('Dark Brown')" id="thread-sprite-dkBrown"></li>
						<li class="sprite-image" ng-click="setThreadColor('Light Blue')" id="thread-sprite-ltBlue"></li>
						<li class="sprite-image" ng-click="setThreadColor('Royal Blue')" id="thread-sprite-royalBlue"></li>
						<li class="sprite-image" ng-click="setThreadColor('Navy Blue')" id="thread-sprite-navyBlue"></li>
						<li class="sprite-image" ng-click="setThreadColor('Yellow')" id="thread-sprite-yellow"></li>
						<li class="sprite-image" ng-click="setThreadColor('Gold')" id="thread-sprite-gold"></li>
						<li class="sprite-image" ng-click="setThreadColor('Light Gold')" id="thread-sprite-ltGold"></li>
						<li class="sprite-image" ng-click="setThreadColor('Orange')" id="thread-sprite-orange"></li>
						<li class="sprite-image" ng-click="setThreadColor('Light Green')" id="thread-sprite-ltGreen"></li>
						<li class="sprite-image" ng-click="setThreadColor('Dark Green')" id="thread-sprite-dkGreen"></li>
						<li class="sprite-image" ng-click="setThreadColor('Light Pink')" id="thread-sprite-ltPink"></li>
						<li class="sprite-image" ng-click="setThreadColor('Pink')" id="thread-sprite-pink"></li>
						<li class="sprite-image" ng-click="setThreadColor('Hot Pink')" id="thread-sprite-hotPink"></li>
						<li class="sprite-image" ng-click="setThreadColor('Medium Blue')" id="thread-sprite-medBlue"></li>
						<li class="sprite-image" ng-click="setThreadColor('Medium Brown')" id="thread-sprite-medBrown"></li>
						<li class="sprite-image" ng-click="setThreadColor('Tourquoise')" id="thread-sprite-tourquoise"></li>
						<li class="sprite-image" ng-click="setThreadColor('Kelly Green')" id="thread-sprite-kellyGreen"></li>
						<li class="sprite-image" ng-click="setThreadColor('Lime Green')" id="thread-sprite-limeGreen"></li>
						<li class="sprite-image" ng-click="setThreadColor('Teal')" id="thread-sprite-teal"></li>
						<li class="sprite-image" ng-click="setThreadColor('Brick Red')" id="thread-sprite-brickRed"></li>
						<li class="sprite-image" ng-click="setThreadColor('Burgundy')" id="thread-sprite-burgundy"></li>
						<li class="sprite-image" ng-click="setThreadColor('Purple')" id="thread-sprite-purple"></li>
						<li class="sprite-image" ng-click="setThreadColor('Light Purple')" id="thread-sprite-ltPurple"></li>
						<li class="sprite-image" ng-click="setThreadColor('Dark Purple')" id="thread-sprite-dkPurple"></li>
						<li class="sprite-image" ng-click="setThreadColor('Silver')" id="thread-sprite-silver"></li>
						<li class="sprite-image" ng-click="setThreadColor('Light Silver')" id="thread-sprite-ltSilver"></li>
						<li class="sprite-image" ng-click="setThreadColor('Dark Gray')" id="thread-sprite-dkGray"></li>
						<li class="sprite-image" ng-click="setThreadColor('Cream')" id="thread-sprite-cream"></li>
						<li class="sprite-image" ng-click="setThreadColor('White')" id="thread-sprite-white"></li>
						<li class="sprite-image" ng-click="setThreadColor('Bright Red')" id="thread-sprite-brightRed"></li>
					</ul>
				</div>
			</div>
		</div>
	</div>


	


</div>














<div id="sticky-order-info-wrapper" class="container">
	<div id="order-info-header">
		<div id="order-detail-wrapper" class="unstuck">
			<div id="content-wrapper">
				<div>
					<div>
						<h4 style="text-align: center;">Build Your Mats</h4>
						<div></div>
					</div>
				</div>
				<div class="option">
					<h4>Mat Option {{baseMatOption}}</h4><div class="pricing">{{matPrice}}</div>
				</div>
				<div class="option">
					<h4>Carpet Color <span>{{colorIs}}</span><span style="color:{{matColor}}">{{matColor}}</span></h4><div class="{{matColor}}"></div><div class="pricing">{{}}</div>
				</div>
				<div class="option">
					<h4>Style Option {{styleIs}}{{optionStyle}}{{}}</h4><div class="pricing">{{styleCost}}</div>
				</div>
				<div class="option">
					<h4>Galant Embroidery Color {{galantThreadColor}}</h4>
				</div>
				<div class="option">
					<h4>VR4 Background Color {{backgroundThreadColor}}</h4>
				</div>
				<div class="option">
					<h4>VR4 Text Color {{vr4ThreadColor}}</h4>
				</div>
				<div class="option">
					<h4>Car Number {{addedCarNumber}}</h4><div class="pricing">{{priceEmbroiderRear}}</div>
				</div>
				<div class="option">
					<h4>Car Number Color {{carNumberThreadColor}}</h4>
				</div>
				<div class="option">
					<h4>Shipping </h4><div class="pricing">{{priceShip}}</div>
				</div>
				
				<div id="total" class="option">
					<h4>Total {{totalCost}}</h4><div class="pricing">{{}}</div>
				</div>
				<div id="button-box">
					<button class="btn btn-primary" type="button" data-toggle="modal" data-target="#myModal">Launch modal</button>
				</div>						
			</div>	
		</div>
	</div>
</div>














<script type="text/javascript">
	// function moveScroller() {
	// 	var move = function() {
	// 		var st = $(window).scrollTop();
	// 		var ot = $("#order-info-header").offset().top;
	// 		var s = $("#sticky-order-info-wrapper");
	// 		if(st > ot) {
	// 			s.css({
	// 				position: "fixed",
	// 				top: "0px"
	// 			});
	// 		} else {
	// 			if(st <= ot) {
	// 				s.css({
	// 					position: "relative",
	// 					top: ""
	// 				});
	// 			}
	// 		}
	// 	};
	// 	$(window).scroll(move);
	// 	move();
	// }
</script>



				






<!-- <div id="sprite">
	
</div> -->



















