<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<title>Turbo Floor Mats</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">
<!-- 	<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.9/slick.css"/>
 -->	
 	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	<!-- <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.5.9/slick.min.js"></script> -->
	<script src="/js/angular.min.js"></script>
	<script src="/js/angular-route.min.js"></script>
	<script src="/js/angular-cookies.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/js/controller.js"></script>
	<script type="text/javascript" src="/js/index.js"></script>
</head>
