<div id="nav-wrapper">
	<div id="logo-wrapper">

	</div>
	<div id="nav-bar-wrapper">
		<div id="nav-bar">
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="#">My Account</a></li>
				<li><a href="http://www.google.com">Help</a>
<!-- 					<ul>
						<li><a href="#">Link</a></li>
						<li><a href="#">Another Link</a></li>
						<li><a href="#">Linky, Linky</a></li>
					</ul> -->
				</li>
				<li><a href="http://www.amazon.com">Cart</a></li>
			</ul>
		</div>
	</div>
</div>


