<% include head %>

<body ng-controller="myController">
	
<header>
</header>
<main>
	<% include header %>
	<% include body %>
	<div>
		
	</div>
</main>
<footer>
	<% include footer %>
</footer>
</body>

</html>




