<% include head %>

<body ng-controller="myController">
	<div id="container">
		<header>
			<% include header %>
		</header>
		<main>
			<div>
				<% include thank-you.html %>
			</div>
		</main>
	</div>
	<footer>
		<% include footer %>
	</footer>
</body>

</html>




