/* line 3, ../../compass/sass/style.scss */
#nav-bar {
  max-width: 900px;
  margin: auto;
  font-weight: bold;
  border: none;
  padding: 0px;
  font-size: 14px;
}

/* line 13, ../../compass/sass/style.scss */
#nav-bar ul {
  background-color: #232F3E;
  height: 50px;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

/*Top level element (li)*/
/* line 22, ../../compass/sass/style.scss */
#nav-bar ul li {
  float: left;
  padding: 0px 0px 0px 15px;
}

/*Top level element link*/
/* line 28, ../../compass/sass/style.scss */
#nav-bar ul li a {
  color: white;
  font-weight: normal;
  line-height: 50px;
  padding: 8px 25px;
  margin: 0px;
  text-decoration: none;
  text-align: center;
}

/*Hovering over a top level element*/
/* line 39, ../../compass/sass/style.scss */
#nav-bar ul li a:hover {
  background: #3B4859;
  color: white;
  text-decoration: none;
}

/*Child elements of the top level elements*/
/* line 46, ../../compass/sass/style.scss */
#nav-bar ul li ul {
  display: none;
  height: auto;
  position: absolute;
  width: 200px;
  padding: 0px;
  margin: 0px;
  border: none;
}

/* line 56, ../../compass/sass/style.scss */
#nav-bar ul li:hover ul {
  display: block;
}

/* line 60, ../../compass/sass/style.scss */
#nav-bar ul ul {
  border-radius: 0px;
}

/* line 64, ../../compass/sass/style.scss */
#nav-bar li li {
  display: block;
  float: none;
  width: 200px;
  margin: 0px;
  padding: 0px;
  background-color: #546375;
}

/* line 73, ../../compass/sass/style.scss */
#nav-bar ul li:hover ul li a {
  background: none;
}

/* line 77, ../../compass/sass/style.scss */
#nav-bar ul li ul li a {
  height: 50px;
  font-size: 12px;
  padding: 0px 10px 0px 15px;
  margin: 0px;
}

/* line 84, ../../compass/sass/style.scss */
#nav-bar ul li ul li a:hover {
  color: white;
  border: 0px;
  background: #3B4859;
  text-decoration: none;
}

/* line 96, ../../compass/sass/style.scss */
#banner-wrapper {
  border-bottom: 7px solid #232F3E;
}

/* line 100, ../../compass/sass/style.scss */
#banner {
  width: 80%;
  margin: auto;
}

/* line 105, ../../compass/sass/style.scss */
#banner img {
  display: block;
  width: 100%;
  max-width: 1000px;
  margin: auto;
}

/* line 119, ../../compass/sass/style.scss */
#sticky-order-info-wrapper {
  float: right;
  width: 30%;
  position: relative;
  overflow: hidden;
  display: block;
  height: 500px;
}

/* line 130, ../../compass/sass/style.scss */
#order-detail-wrapper {
  position: relative;
  background-color: #2C2C2C;
  color: #F5F5F5;
  margin: 10px;
  padding: 5px;
  height: 400px;
  display: block;
}

/* line 140, ../../compass/sass/style.scss */
.fixed {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  width: 30%;
  color: #F5F5F5;
  border: 1px solid;
  margin: 10px;
  height: 400px;
  margin-left: auto;
}

/* line 166, ../../compass/sass/style.scss */
.option {
  border: 1px solid;
}

/* line 177, ../../compass/sass/style.scss */
#content-body {
  margin-left: 3%;
  width: 65%;
  overflow: hidden;
  float: left;
}

/* line 187, ../../compass/sass/style.scss */
.select-inner {
  border: 1px solid;
  border-radius: 4px;
}

/* line 192, ../../compass/sass/style.scss */
#button-box {
  text-align: center;
}

/* line 196, ../../compass/sass/style.scss */
.button {
  margin: 10px;
}

/* line 200, ../../compass/sass/style.scss */
.thread-button {
  display: inline-block;
}

/* line 204, ../../compass/sass/style.scss */
.sprite-list li {
  height: 115px;
  width: 150px;
  background: url("/images/Carpet_Colors.jpg");
  background-size: 1400px;
  background-repeat: no-repeat;
  list-style-type: none;
  display: inline-block;
  margin: 3px;
  border-radius: 4px;
}

/* line 218, ../../compass/sass/style.scss */
.sprite-list-thread li {
  height: 80px;
  width: 100px;
  background: url("/images/Embroidery_Colors.jpg");
  background-size: 1400px;
  background-repeat: no-repeat;
  list-style-type: none;
  display: inline-block;
  margin: 3px;
  border-radius: 4px;
}

/* line 232, ../../compass/sass/style.scss */
#carpet-sprite-hgreen {
  background-position: -30px -112px;
}

/* line 236, ../../compass/sass/style.scss */
#carpet-sprite-nblue {
  background-position: -230px -112px;
}

/* line 240, ../../compass/sass/style.scss */
#carpet-sprite-burg {
  background-position: -430px -112px;
}

/* line 244, ../../compass/sass/style.scss */
#carpet-sprite-red {
  background-position: -625px -112px;
}

/* line 248, ../../compass/sass/style.scss */
#carpet-sprite-rblue {
  background-position: -823px -112px;
}

/* line 252, ../../compass/sass/style.scss */
#carpet-sprite-purp {
  background-position: -1015px -112px;
}

/* line 256, ../../compass/sass/style.scss */
#carpet-sprite-teak {
  background-position: -1217px -112px;
}

/* line 260, ../../compass/sass/style.scss */
#carpet-sprite-beige {
  background-position: -30px -275px;
}

/* line 264, ../../compass/sass/style.scss */
#carpet-sprite-greyBerber {
  background-position: -230px -275px;
}

/* line 268, ../../compass/sass/style.scss */
#carpet-sprite-beigeBerber {
  background-position: -430px -275px;
}

/* line 272, ../../compass/sass/style.scss */
#carpet-sprite-kgreen {
  background-position: -630px -275px;
}

/* line 276, ../../compass/sass/style.scss */
#carpet-sprite-orange {
  background-position: -825px -275px;
}

/* line 280, ../../compass/sass/style.scss */
#carpet-sprite-medGray {
  background-position: -1015px -275px;
}

/* line 284, ../../compass/sass/style.scss */
#carpet-sprite-dkGray {
  background-position: -1200px -275px;
}

/* line 288, ../../compass/sass/style.scss */
#carpet-sprite-cream {
  background-position: -30px -435px;
}

/* line 292, ../../compass/sass/style.scss */
#carpet-sprite-black {
  background-position: -230px -435px;
}

/* line 296, ../../compass/sass/style.scss */
#carpet-sprite-brown {
  background-position: -430px -435px;
}

/* line 300, ../../compass/sass/style.scss */
#carpet-sprite-mocha {
  background-position: -630px -435px;
}

/* line 305, ../../compass/sass/style.scss */
#embroidery-sprite {
  height: 150px;
  width: 150px;
  background: url("/images/Embroidery_Colors.jpg");
  background-size: 350px 350px;
}

/* line 315, ../../compass/sass/style.scss */
.thread-label {
  margin-right: 25px;
  border: 1px solid;
  border-radius: 5px;
  padding: 3px;
}

/* line 322, ../../compass/sass/style.scss */
#thread-sprite-beige {
  background-position: -45px -125px;
}

/* line 326, ../../compass/sass/style.scss */
#thread-sprite-black {
  background-position: -230px -125px;
}

/* line 330, ../../compass/sass/style.scss */
#thread-sprite-ltBrown {
  background-position: -430px -125px;
}

/* line 334, ../../compass/sass/style.scss */
#thread-sprite-khaki {
  background-position: -625px -125px;
}

/* line 338, ../../compass/sass/style.scss */
#thread-sprite-dkBrown {
  background-position: -823px -125px;
}

/* line 342, ../../compass/sass/style.scss */
#thread-sprite-ltBlue {
  background-position: -1015px -125px;
}

/* line 346, ../../compass/sass/style.scss */
#thread-sprite-royalBlue {
  background-position: -1217px -125px;
}

/* line 350, ../../compass/sass/style.scss */
#thread-sprite-navyBlue {
  background-position: -75px -290px;
}

/* line 354, ../../compass/sass/style.scss */
#thread-sprite-yellow {
  background-position: -230px -290px;
}

/* line 358, ../../compass/sass/style.scss */
#thread-sprite-gold {
  background-position: -430px -290px;
}

/* line 362, ../../compass/sass/style.scss */
#thread-sprite-ltGold {
  background-position: -630px -290px;
}

/* line 366, ../../compass/sass/style.scss */
#thread-sprite-orange {
  background-position: -825px -290px;
}

/* line 370, ../../compass/sass/style.scss */
#thread-sprite-ltGreen {
  background-position: -1015px -290px;
}

/* line 374, ../../compass/sass/style.scss */
#thread-sprite-dkGreen {
  background-position: -1200px -290px;
}

/* line 378, ../../compass/sass/style.scss */
#thread-sprite-ltPink {
  background-position: -45px -450px;
}

/* line 382, ../../compass/sass/style.scss */
#thread-sprite-pink {
  background-position: -230px -450px;
}

/* line 386, ../../compass/sass/style.scss */
#thread-sprite-hotPink {
  background-position: -430px -450px;
}

/* line 390, ../../compass/sass/style.scss */
#thread-sprite-medBlue {
  background-position: -630px -450px;
}

/* line 394, ../../compass/sass/style.scss */
#thread-sprite-medBrown {
  background-position: -830px -450px;
}

/* line 398, ../../compass/sass/style.scss */
#thread-sprite-tourquoise {
  background-position: -1030px -450px;
}

/* line 402, ../../compass/sass/style.scss */
#thread-sprite-kellyGreen {
  background-position: -1230px -450px;
}

/* line 406, ../../compass/sass/style.scss */
#thread-sprite-limeGreen {
  background-position: -45px -625px;
}

/* line 410, ../../compass/sass/style.scss */
#thread-sprite-teal {
  background-position: -245px -625px;
}

/* line 414, ../../compass/sass/style.scss */
#thread-sprite-brickRed {
  background-position: -445px -625px;
}

/* line 418, ../../compass/sass/style.scss */
#thread-sprite-burgundy {
  background-position: -645px -625px;
}

/* line 422, ../../compass/sass/style.scss */
#thread-sprite-purple {
  background-position: -845px -625px;
}

/* line 426, ../../compass/sass/style.scss */
#thread-sprite-ltPurple {
  background-position: -1045px -625px;
}

/* line 430, ../../compass/sass/style.scss */
#thread-sprite-dkPurple {
  background-position: -1245px -625px;
}

/* line 434, ../../compass/sass/style.scss */
#thread-sprite-silver {
  background-position: -45px -775px;
}

/* line 438, ../../compass/sass/style.scss */
#thread-sprite-ltSilver {
  background-position: -245px -775px;
}

/* line 442, ../../compass/sass/style.scss */
#thread-sprite-dkGray {
  background-position: -445px -775px;
}

/* line 446, ../../compass/sass/style.scss */
#thread-sprite-cream {
  background-position: -645px -775px;
}

/* line 450, ../../compass/sass/style.scss */
#thread-sprite-white {
  background-position: -845px -775px;
}

/* line 454, ../../compass/sass/style.scss */
#thread-sprite-brightRed {
  background-position: -1045px -775px;
}

/* line 460, ../../compass/sass/style.scss */
#select-mats-body {
  border: 1px solid;
}

/* line 464, ../../compass/sass/style.scss */
.mat-count {
  display: block;
}

/* line 468, ../../compass/sass/style.scss */
.mat-body-box {
  display: inline-block;
  margin-left: 25px;
  vertical-align: top;
  height: 100%;
}

/* line 476, ../../compass/sass/style.scss */
.mat-set-price {
  vertical-align: bottom;
}

/* line 480, ../../compass/sass/style.scss */
#carpet-color-chart {
  background: url("/images/Embroidery_Colors.jpg");
  background-size: 500px 700px;
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;
}

/* line 487, ../../compass/sass/style.scss */
.option-image {
  max-width: 400px;
  margin: 5px;
  border: 1px solid;
}

/* line 494, ../../compass/sass/style.scss */
#carpet-sprite-hgreen {
  cursor: pointer;
}

/* line 498, ../../compass/sass/style.scss */
.sprite-image {
  cursor: pointer;
}

/* line 516, ../../compass/sass/style.scss */
#footer {
  clear: both;
}
