/* line 3, ../../compass/sass/style.scss */
#nav-bar {
  max-width: 900px;
  margin: auto;
  font-weight: bold;
  border: none;
  padding: 0px;
  font-size: 14px;
}

/* line 12, ../../compass/sass/style.scss */
#nav-wrapper {
  background: #232F3E;
}

/* line 16, ../../compass/sass/style.scss */
#nav-bar ul {
  background-color: #232F3E;
  height: 50px;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

/*Top level element (li)*/
/* line 25, ../../compass/sass/style.scss */
#nav-bar ul li {
  float: left;
  padding: 0px 0px 0px 15px;
}

/*Top level element link*/
/* line 31, ../../compass/sass/style.scss */
#nav-bar ul li a {
  color: white;
  font-weight: normal;
  line-height: 50px;
  padding: 8px 25px;
  margin: 0px;
  text-decoration: none;
  text-align: center;
}

/*Hovering over a top level element*/
/* line 42, ../../compass/sass/style.scss */
#nav-bar ul li a:hover {
  background: #3B4859;
  color: white;
  text-decoration: none;
}

/*Child elements of the top level elements*/
/* line 49, ../../compass/sass/style.scss */
#nav-bar ul li ul {
  display: none;
  height: auto;
  position: absolute;
  width: 200px;
  padding: 0px;
  margin: 0px;
  border: none;
}

/* line 59, ../../compass/sass/style.scss */
#nav-bar ul li:hover ul {
  display: block;
}

/* line 63, ../../compass/sass/style.scss */
#nav-bar ul ul {
  border-radius: 0px;
}

/* line 67, ../../compass/sass/style.scss */
#nav-bar li li {
  display: block;
  float: none;
  width: 200px;
  margin: 0px;
  padding: 0px;
  background-color: #546375;
}

/* line 76, ../../compass/sass/style.scss */
#nav-bar ul li:hover ul li a {
  background: none;
}

/* line 80, ../../compass/sass/style.scss */
#nav-bar ul li ul li a {
  height: 50px;
  font-size: 12px;
  padding: 0px 10px 0px 15px;
  margin: 0px;
}

/* line 87, ../../compass/sass/style.scss */
#nav-bar ul li ul li a:hover {
  color: white;
  border: 0px;
  background: #3B4859;
  text-decoration: none;
}

/* line 99, ../../compass/sass/style.scss */
#banner-wrapper {
  border-bottom: 7px solid #232F3E;
  background: #232F3E;
}

/* line 105, ../../compass/sass/style.scss */
#banner {
  width: 80%;
  margin: auto;
}

/* line 110, ../../compass/sass/style.scss */
#banner img {
  display: block;
  width: 100%;
  max-width: 1000px;
  margin: auto;
}

/* line 124, ../../compass/sass/style.scss */
#sticky-order-info-wrapper {
  float: right;
  width: 30%;
  min-width: 300px;
  position: relative;
  overflow: hidden;
  display: block;
}

/* line 133, ../../compass/sass/style.scss */
#content-wrapper {
  width: 92%;
  margin: auto;
}

/* line 138, ../../compass/sass/style.scss */
#order-detail-wrapper {
  position: relative;
  background-color: #2C2C2C;
  color: #F5F5F5;
  margin: 10px;
  margin-right: 45px;
  padding: 5px;
  height: auto;
  display: block;
}

/* line 149, ../../compass/sass/style.scss */
.fixed {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  width: 28%;
  color: #F5F5F5;
  border: 1px solid;
  margin: 10px;
  height: 400px;
  margin-left: auto;
}

/* line 164, ../../compass/sass/style.scss */
.pricing {
  float: right;
  text-align: center;
  margin-right: 10px;
  font-size: 17px;
}

/* line 171, ../../compass/sass/style.scss */
.option {
  border: 1px solid;
  padding: 8px;
}
/* line 174, ../../compass/sass/style.scss */
.option h4 {
  margin-left: 10px;
  display: inline;
}

/* line 180, ../../compass/sass/style.scss */
#order-button {
  margin: 9px auto;
  width: 33%;
  display: inline;
}

/* line 192, ../../compass/sass/style.scss */
html, body, #container {
  height: 100%;
}

/* line 195, ../../compass/sass/style.scss */
body > #container {
  height: auto;
  min-height: 100%;
}

/* line 200, ../../compass/sass/style.scss */
#content-body {
  margin-left: 3%;
  width: 65%;
  overflow: hidden;
  float: left;
}

/* line 207, ../../compass/sass/style.scss */
#review-section-wrapper {
  margin: 80px 0 20px 3%;
  width: 65%;
  overflow: hidden;
  float: left;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}

/* line 216, ../../compass/sass/style.scss */
.review {
  margin-top: 20px;
}

/* line 220, ../../compass/sass/style.scss */
.heading-title {
  margin-left: 10%;
}

/* line 223, ../../compass/sass/style.scss */
#options-wrapper-car-number {
  margin: 70px 0;
}

/* line 226, ../../compass/sass/style.scss */
#car-number-title {
  margin: 10px;
}

/* line 229, ../../compass/sass/style.scss */
#car-number-input {
  margin: 0 10px 10px 20px;
}

/* line 233, ../../compass/sass/style.scss */
#rear-numbers {
  float: left;
  margin: 20px 42px;
}
/* line 236, ../../compass/sass/style.scss */
#rear-numbers img {
  border-radius: 5px;
}

/* line 241, ../../compass/sass/style.scss */
.select-inner {
  border: 1px solid;
  border-radius: 4px;
  background-color: #EAEAEA;
}

/* line 247, ../../compass/sass/style.scss */
#embroidery-title {
  margin-right: 35px;
}

/* line 250, ../../compass/sass/style.scss */
#button-box {
  text-align: center;
  margin-top: 15px;
}

/* line 255, ../../compass/sass/style.scss */
.button {
  margin: 10px;
}

/* line 259, ../../compass/sass/style.scss */
.thread-button {
  display: inline-block;
}

/* line 263, ../../compass/sass/style.scss */
#select-carpet-color {
  padding-top: 10px;
}

/* line 267, ../../compass/sass/style.scss */
.sprite-list li {
  height: 115px;
  width: 150px;
  background: url("/images/Carpet_Colors.jpg");
  background-size: 1400px;
  background-repeat: no-repeat;
  list-style-type: none;
  display: inline-block;
  margin: 3px;
  border-radius: 4px;
}

/* line 281, ../../compass/sass/style.scss */
.sprite-list-thread {
  padding-top: 12px;
}
/* line 284, ../../compass/sass/style.scss */
.sprite-list-thread li {
  height: 80px;
  width: 100px;
  background: url("/images/Embroidery_Colors.jpg");
  background-size: 1400px;
  background-repeat: no-repeat;
  list-style-type: none;
  display: inline-block;
  margin: 3px;
  border-radius: 4px;
}

/* line 299, ../../compass/sass/style.scss */
.active {
  border: 4px solid yellow;
  border-radius: 25px;
}

/* line 303, ../../compass/sass/style.scss */
#carpet-sprite-hgreen {
  background-position: -30px -112px;
}

/* line 307, ../../compass/sass/style.scss */
#carpet-sprite-nblue {
  background-position: -230px -112px;
}

/* line 311, ../../compass/sass/style.scss */
#carpet-sprite-burg {
  background-position: -430px -112px;
}

/* line 315, ../../compass/sass/style.scss */
#carpet-sprite-red {
  background-position: -625px -112px;
}

/* line 319, ../../compass/sass/style.scss */
#carpet-sprite-rblue {
  background-position: -823px -112px;
}

/* line 323, ../../compass/sass/style.scss */
#carpet-sprite-purp {
  background-position: -1015px -112px;
}

/* line 327, ../../compass/sass/style.scss */
#carpet-sprite-teak {
  background-position: -1217px -112px;
}

/* line 331, ../../compass/sass/style.scss */
#carpet-sprite-beige {
  background-position: -30px -275px;
}

/* line 335, ../../compass/sass/style.scss */
#carpet-sprite-greyBerber {
  background-position: -230px -275px;
}

/* line 339, ../../compass/sass/style.scss */
#carpet-sprite-beigeBerber {
  background-position: -430px -275px;
}

/* line 343, ../../compass/sass/style.scss */
#carpet-sprite-kgreen {
  background-position: -630px -275px;
}

/* line 347, ../../compass/sass/style.scss */
#carpet-sprite-orange {
  background-position: -825px -275px;
}

/* line 351, ../../compass/sass/style.scss */
#carpet-sprite-medGray {
  background-position: -1015px -275px;
}

/* line 355, ../../compass/sass/style.scss */
#carpet-sprite-dkGray {
  background-position: -1200px -275px;
}

/* line 359, ../../compass/sass/style.scss */
#carpet-sprite-cream {
  background-position: -30px -435px;
}

/* line 363, ../../compass/sass/style.scss */
#carpet-sprite-black {
  background-position: -230px -435px;
}

/* line 367, ../../compass/sass/style.scss */
#carpet-sprite-brown {
  background-position: -430px -435px;
}

/* line 371, ../../compass/sass/style.scss */
#carpet-sprite-mocha {
  background-position: -630px -435px;
}

/* line 375, ../../compass/sass/style.scss */
#no-car-number {
  margin: 0 20px 5px 20px;
}

/* line 379, ../../compass/sass/style.scss */
#embroidery-sprite {
  height: 150px;
  width: 150px;
  background: url("/images/Embroidery_Colors.jpg");
  background-size: 350px 350px;
}

/* line 389, ../../compass/sass/style.scss */
#embroidery-buttons {
  text-align: center;
}

/* line 393, ../../compass/sass/style.scss */
.thread-label {
  margin-right: 25px;
  border: 1px solid;
  border-radius: 5px;
  padding: 3px;
}

/* line 400, ../../compass/sass/style.scss */
#thread-sprite-beige {
  background-position: -45px -125px;
}

/* line 404, ../../compass/sass/style.scss */
#thread-sprite-black {
  background-position: -230px -125px;
}

/* line 408, ../../compass/sass/style.scss */
#thread-sprite-ltBrown {
  background-position: -430px -125px;
}

/* line 412, ../../compass/sass/style.scss */
#thread-sprite-khaki {
  background-position: -625px -125px;
}

/* line 416, ../../compass/sass/style.scss */
#thread-sprite-dkBrown {
  background-position: -823px -125px;
}

/* line 420, ../../compass/sass/style.scss */
#thread-sprite-ltBlue {
  background-position: -1015px -125px;
}

/* line 424, ../../compass/sass/style.scss */
#thread-sprite-royalBlue {
  background-position: -1217px -125px;
}

/* line 428, ../../compass/sass/style.scss */
#thread-sprite-navyBlue {
  background-position: -75px -290px;
}

/* line 432, ../../compass/sass/style.scss */
#thread-sprite-yellow {
  background-position: -230px -290px;
}

/* line 436, ../../compass/sass/style.scss */
#thread-sprite-gold {
  background-position: -430px -290px;
}

/* line 440, ../../compass/sass/style.scss */
#thread-sprite-ltGold {
  background-position: -630px -290px;
}

/* line 444, ../../compass/sass/style.scss */
#thread-sprite-orange {
  background-position: -825px -290px;
}

/* line 448, ../../compass/sass/style.scss */
#thread-sprite-ltGreen {
  background-position: -1015px -290px;
}

/* line 452, ../../compass/sass/style.scss */
#thread-sprite-dkGreen {
  background-position: -1200px -290px;
}

/* line 456, ../../compass/sass/style.scss */
#thread-sprite-ltPink {
  background-position: -45px -450px;
}

/* line 460, ../../compass/sass/style.scss */
#thread-sprite-pink {
  background-position: -230px -450px;
}

/* line 464, ../../compass/sass/style.scss */
#thread-sprite-hotPink {
  background-position: -430px -450px;
}

/* line 468, ../../compass/sass/style.scss */
#thread-sprite-medBlue {
  background-position: -630px -450px;
}

/* line 472, ../../compass/sass/style.scss */
#thread-sprite-medBrown {
  background-position: -830px -450px;
}

/* line 476, ../../compass/sass/style.scss */
#thread-sprite-tourquoise {
  background-position: -1030px -450px;
}

/* line 480, ../../compass/sass/style.scss */
#thread-sprite-kellyGreen {
  background-position: -1230px -450px;
}

/* line 484, ../../compass/sass/style.scss */
#thread-sprite-limeGreen {
  background-position: -45px -625px;
}

/* line 488, ../../compass/sass/style.scss */
#thread-sprite-teal {
  background-position: -245px -625px;
}

/* line 492, ../../compass/sass/style.scss */
#thread-sprite-brickRed {
  background-position: -445px -625px;
}

/* line 496, ../../compass/sass/style.scss */
#thread-sprite-burgundy {
  background-position: -645px -625px;
}

/* line 500, ../../compass/sass/style.scss */
#thread-sprite-purple {
  background-position: -845px -625px;
}

/* line 504, ../../compass/sass/style.scss */
#thread-sprite-ltPurple {
  background-position: -1045px -625px;
}

/* line 508, ../../compass/sass/style.scss */
#thread-sprite-dkPurple {
  background-position: -1245px -625px;
}

/* line 512, ../../compass/sass/style.scss */
#thread-sprite-silver {
  background-position: -45px -775px;
}

/* line 516, ../../compass/sass/style.scss */
#thread-sprite-ltSilver {
  background-position: -245px -775px;
}

/* line 520, ../../compass/sass/style.scss */
#thread-sprite-dkGray {
  background-position: -445px -775px;
}

/* line 524, ../../compass/sass/style.scss */
#thread-sprite-cream {
  background-position: -645px -775px;
}

/* line 528, ../../compass/sass/style.scss */
#thread-sprite-white {
  background-position: -845px -775px;
}

/* line 532, ../../compass/sass/style.scss */
#thread-sprite-brightRed {
  background-position: -1045px -775px;
}

/* line 538, ../../compass/sass/style.scss */
#select-mats-body {
  border: 1px solid;
  height: 305px;
}

/* line 543, ../../compass/sass/style.scss */
.mat-count {
  display: block;
}

/* line 547, ../../compass/sass/style.scss */
.mat-body-box {
  display: inline-block;
  margin-left: 25px;
  vertical-align: top;
  height: 100%;
  padding-top: 10px;
}

/* line 555, ../../compass/sass/style.scss */
.mat-set-price {
  vertical-align: bottom;
}

/* line 559, ../../compass/sass/style.scss */
#carpet-color-chart {
  background: url("/images/Embroidery_Colors.jpg");
  background-size: 500px 700px;
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;
}

/* line 566, ../../compass/sass/style.scss */
.option-image {
  max-width: 400px;
  margin: 5px;
  border: 2px solid;
}
/* line 570, ../../compass/sass/style.scss */
.option-image.active {
  border: 5px solid yellow !important;
  border-radius: 5px;
}

/* line 576, ../../compass/sass/style.scss */
#total {
  background-color: black;
}

/* line 580, ../../compass/sass/style.scss */
.carpet-sprite {
  cursor: pointer;
}

/* line 584, ../../compass/sass/style.scss */
.sprite-image {
  cursor: pointer;
}

/* line 589, ../../compass/sass/style.scss */
#embroidery-error-message {
  text-align: center;
  background-color: red;
  font-weight: bold;
  font-size: 16px;
  border-radius: 7px;
  color: white;
  width: 60%;
  margin: 0 auto 10px;
  padding: 4 20px;
}

/* line 606, ../../compass/sass/style.scss */
#thank-you-wrapper {
  text-align: center;
}

/* line 617, ../../compass/sass/style.scss */
#footer {
  clear: both;
  position: relative;
  z-index: 10;
  height: 3em;
  margin-top: 0em;
}

/* line 628, ../../compass/sass/style.scss */
.modal-title {
  text-align: center;
}

/* line 636, ../../compass/sass/style.scss */
.info-list {
  list-style: none;
}

/* line 650, ../../compass/sass/style.scss */
#order-info {
  width: 40%;
  margin-left: 5%;
  height: 25%;
  display: inline-block;
  float: right;
}

/* line 658, ../../compass/sass/style.scss */
#shipping-info {
  display: inline-block;
}
